{% extends 'base.html' %}

{% load static %}

{% block title %} Jagrati | Inventory {% endblock %}

{% block style %}

    <link rel="stylesheet" href="{% static 'accounts/style.css' %}" type="text/css" />
    <script src="{% static 'accounts/style.js' %}" type="text/javascript" defer></script>

{% endblock %}

{% block content %}
    <div style="margin: 40px;">
    {% for message in messages  %}            
          <center><div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" style="width: 400px;">
                <strong>Message : </strong> {{ message }}
               <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>--></div></center>
          {% endfor %}

    <div class="container right-panel-active" id="container" style="margin: 0px;">
    
        <div class="form-container sign-up-container" >
    
            <form action="/inventory/withdraw" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <h1>Withdraw!</h1>
                    
                <br/>
                <span class="form-error"> </span>
                <input type="text" name="asset_name" placeholder="Name of Asset" required />
                <input type="text" name="volunteer" placeholder="Please, enter your username!" required />
                <input type="int" name="quantity" placeholder = "Quantity" required />
                <input type="date" name="date" placeholder="Date" required />

                <button type='submit' name='submit' value='Withdraw'>Withdraw</button>
           
            </form>
        
        </div>
        
        <div class="form-container sign-in-container">
            
            <form action='/inventory/add' method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <h1>Add!</h1>
                <br/>
                <span class="form-error"> </span>
                <input type="text" name="asset_name" placeholder="Name of Asset" required />
                <input type="text" name="donated_by" placeholder="Donated by" required />
                <input type="int" name="quantity" placeholder = "Quantity" required />
                <input type="date" name="date" placeholder="Date" required />
                <button type='submit' name='submit' value='add'>Add</button>
            </form>
        
        </div>
      
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Hey!</h1>
                    <p>Want to add something to inventory?</p>
                    <button class="ghost" id="signIn">Add</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hey!</h1>
                    <p>Want to Remove something?</p>
                    <button class="ghost" id="signUp">Remove</button>
                </div>
            </div>
        
        </div>
    
    
    </div>
</div>

{% endblock %}

{% block footer %}
{% endblock %}