{% extends 'base.html' %}

{% load static %}

{% block title %} Jagrati | Login {% endblock %}

{% block style %}

<link rel="stylesheet" href="{% static 'accounts/style.css' %}" type="text/css" />
<script src="{% static 'accounts/style.js' %}" type="text/javascript" defer></script>

{% endblock %}


{% block content %}

<div style="margin: 40px;">
{% for message in messages  %}            
<center><div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" style="width: 400px;">
    <strong>Message : </strong> {{ message }}
</div></center>
{% endfor %}


<div class="container " style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); height: 650px;">

    <form action="/events/add" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <h1>Add An Event</h1>

        <br/>
        <span class="form-error"> </span>
        <input type="text" name="event_name" placeholder="Event Name" required />
        <input type="date" name="date" placeholder="Date" required />
        <input type="text" name="venue" placeholder="Venue" required />
        <input type="int" name="description" placeholder = "Description" required />
        <input type="int" name="organiser1" placeholder="Host?(Please add your Roll No.)" required />
        <input type="int" name="organiser2" placeholder="Co-Host?(Optional)"/>
        <input type="text" name="winner1" placeholder="Winner? (Optional)"/>
        <input type="file" name="image" id="profileImage">

        <button type='submit' name='submit' value='add'>Add!</button>

    </form>
    
</div>
</div>

{% endblock %}
{% block footer%}
{% endblock %}