{% extends 'base.html' %}

{% load static %}

{% block title %} Jagrati | Events {% endblock %}
{% block style %}

    <link rel="stylesheet" href="{% static 'home/style.css' %}" type="text/css" />

{% endblock %}

{% block content %}
  <!--Past Events Starts-->
  <div ><center ><h1 style="margin-top: 8px;"> Past Events</h1></center></div>
  
 
 	<div class="card-container">
 		{% for event in data_old %}

    	<div class="card" data-aos="fade-down" data-aos-duration="1500">
        	<div class="card-img"><img src="{{event.image.url}}" alt="image" style="height: 300px;"></div>
        	<br>
        	
        	<div class="card-text">
            	<h5 class="card-title">{{event.event_name}}</h5>
		        <p class="card-text">{{event.description| truncatechars:50}}</p>
		       
        	</div>
        	
        	<!-- Button trigger modal -->
			<center><button class="btn-get-started scrollto" data-toggle="modal" data-target="#event_old{{ forloop.counter }}" style="width: 150px; border: 0px; margin-bottom: 25px; ">More</button></center>

		    	 
    	</div>
    	<div class="modal fade" id="event_old{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		   			<div class="modal-dialog modal-dialog-centered" role="document">
		        		<div class="modal-content">
		          			<div class="modal-header">
		            			<h5 class="modal-title" id="exampleModalLongTitle">{{event.event_name}}</h5>
		            			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		              				<span aria-hidden="true">&times;</span>
		            			</button>
		          			</div>
		          		
		          			<div class="modal-body">
		           	 			<img src="{{event.image.url}}" class="card-img-top " alt="...">
					            <br>
					            <br>
					            <p class="card-text">{{event.description}}</p>    
					            <p class="card-text">Venue: {{ event.venue }}</p> 
					            <p class="card-text">Date: {{ event.date }}</p>  
		          			</div>
		        		
		        		</div>
		      		</div>
		    	</div>
    	{% endfor %}

    </div>
  <!--Past Events Ends-->

  <!--Upcoming Events Starts-->
   <div ><center ><h1 style="margin-top: 8px;"> Upcoming Events</h1></center></div>
  
 
 	<div class="card-container">
 		{% for event in data_new %}

    	<div class="card" data-aos="fade-down" data-aos-duration="1500" >
        	<div class="card-img"><img src="{{event.image.url}}" alt="image" style="height: 300px;"></div>
        	<br>
        	
        	<div class="card-text">
            	<h5 class="card-title">{{event.event_name}}</h5>
		        <p class="card-text">{{event.description| truncatechars:50}}</p>
		       
        	</div>
        	
        	<!-- Button trigger modal -->
			<center><button class="btn-get-started scrollto" data-toggle="modal" data-target="#event_new{{ forloop.counter }}" style="width: 150px; border: 0px; margin-bottom: 25px; ">More</button></center>

		    	 
		    	
    	</div>
<div class="modal fade" id="event_new{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		   			<div class="modal-dialog modal-dialog-centered" role="document">
		        		<div class="modal-content">
		          			<div class="modal-header">
		            			<h5 class="modal-title" id="exampleModalLongTitle">{{event.event_name}}</h5>
		            			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		              				<span aria-hidden="true">&times;</span>
		            			</button>
		          			</div>
		          		
		          			<div class="modal-body">
		           	 			<img src="{{event.image.url}}" class="card-img-top " alt="...">
					            <br>
					            <br>
					            <p class="card-text">{{event.description}}</p>    
					            <p class="card-text">Venue: {{ event.venue }}</p> 
					            <p class="card-text">Date: {{ event.date }}</p>  
		          			</div>
		        		
		        		</div>
		      		</div>
		    	</div>
    	{% endfor %}

    </div>

  <!--Upcoming Events Ends-->

{% endblock %}